html,body {
	height:100%;
	font-family:'Helvetica Neue';
}
body {
	background-color:#1F718D;
	color:#6F6F6F;
}

a {
	color:#1F718D;
}

.white-bg {
	background-color: #f1f1f1;
}

.white-bg:hover {
	background-color: #f1f1f1;
}


.blue-bg {
	background-color: #1F718D;
}

.blue-bg:hover, .blue-bg:active, .blue-bg:focus {
	background-color: #1F718D;
}

.blue {
	color: #1F718D;
}

.green-bg {
	background-color: #45A478;
}

.green-bg:hover {
	background-color: #45A478;
}

.green {
	color: #45A478;
}

.mui-btn {
	color:white;
}

main {
    min-height: 100%;
    margin-bottom: -65px;
    /*background: #ddd;*/
}

main:after {
    content: "";
    display: block;
    height: 65px;
}

footer {
    height: 55px;
    padding:0 10px;
}

.checkin-wrapper {
	min-height:200px;
}

.title {
	text-align: center;
	margin-top:45px;
	color:white;
}

.mui-panel {
	margin-top:35px;
	padding-top:45px;
}

.mui-btn.submit {
	color:white;
}


.mui--text-title {
	margin-bottom:5px;
	color:black;
}

.banner {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:250px;
	z-index:-1;
}

form {
	/*margin-top:35px;*/
}

.validation-error {
	display:block;
	color:red;
	margin-top:2px;
}

.textfields {
	margin-bottom:70px;
}

form.green .mui-textfield>input:focus {
	border-bottom:solid 2px #45A478;
}

form.blue .mui-textfield>input:focus {
	border-bottom:solid 2px #8FB23E;
}

a.forgot-password {
	position: relative;
    top: 13px;
}

.title-logo {
	margin-top:30px;
}

.title-logo img {
	width:80%;
	max-width:400px;
}

.org-logo {
	margin-bottom:60px;
}

.org-logo img {
	width:245px;
}

footer img {
	height:50px;
	padding-bottom:10px;
}

/*Responsive styles*/

@media (max-width: 425px) {

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

footer img {
	height:auto;
	width:25%;
}

}

